.double-dip-container {
    display: flex;
    flex-direction: column;
}

.double-dip-container header {

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 30vh;

    padding: 3.2rem 6.5rem 10rem 5.6rem;
    margin: 0 auto;
    width: 100%;

    background: linear-gradient(180deg, var(--FIRST-HEADER-COLOR) 44.17%, var(--SECOND-HEADER-COLOR) 100%);
}

.double-dip-container header .logo {
    width: 19.3rem;
    height: 7.4rem;

    margin-right: 3rem;
}

.double-dip-container .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: white;
    width: 32rem;
    border-radius: 20px;

    box-shadow: 0px 4px 4px var(--BOX-SHADOW);
}

.double-dip-container .search-bar input[type=text] {

    font-size: 1.6rem;
    float: left;
    width: 89vw;
    padding: 0.2rem 0rem 0.2rem 1.6rem;
    outline: none;
    border: none;

    position: relative;
    left: 0.8rem;
}

.double-dip-container .search-bar img {
    float: left;
    border-left: none;
    margin-left: 0.8rem;
    padding: 0.7rem;
    cursor: pointer;
}

.double-dip-container main .left-principal-card {
    grid-area: left-principal-card;
}

.double-dip-container main .left-first-card {
    grid-area: left-first-card;
}

.double-dip-container main .left-second-card {
    grid-area: left-second-card;
}

.double-dip-container main .right-principal-card {
    grid-area: right-principal-card;
}

.double-dip-container main .right-first-card {
    grid-area: right-first-card;
}

.double-dip-container main .right-second-card {
    grid-area: right-second-card;
}

.double-dip-container main .left-principal-card img,
.double-dip-container main .right-principal-card img{
    width: 27rem;
    height: 27rem;
}

.double-dip-container main {
    display: grid;
    justify-content: center;
    width: 100%;
    gap: 3rem;

    margin-top: 1.2rem;

    grid-template-columns: auto 22rem auto 22rem;
    grid-template-rows: repeat(2,auto);

    grid-template-areas: 
        "left-principal-card left-first-card right-principal-card right-first-card"
        "left-principal-card left-second-card right-principal-card right-second-card";

    margin-bottom: 8rem;
}

.double-dip-container main .mini-box,
.double-dip-container main .box {
    box-shadow: 0px 4px 4px var(--BOX-SHADOW);
    background: var(--BOX-BACKGROUND);
    border-radius: 20px;
}

.double-dip-container main .mini-box img {
    width: 15.6rem;
    height: 15.6rem;
} 

.double-dip-container main .mini-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 22rem;
    height: 21rem;
}

.double-dip-container main .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.double-dip-container main .box img {
    margin-top: 1rem;
}

.double-dip-container main .box .title {
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 1.6rem;
}

.double-dip-container main .box .title {
    width: 26rem;
    text-align: center;
}

.double-dip-container main .box .description {
    margin-top: 1rem;
}

.double-dip-container main .box .description,
.double-dip-container main .box .weight {
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.95rem;
    text-align: center;
    color: var(--TEXT);
}

.double-dip-container main .box .price {
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;

    margin-top: 1.6rem;
}


.double-dip-container footer .footer-logo {
    grid-area: footer-logo;
    width: 19.2rem;
    height: 7.4rem;
}

.double-dip-container footer .phone {
    grid-area: phone;
}

.double-dip-container footer .email {
    grid-area: email;
}

.double-dip-container footer .instagram {
    grid-area: instagram;
}

.double-dip-container footer .made-with {
    grid-area: made-with;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-align: center;
}

.double-dip-container footer {
    display: grid;
    width: 100%;
    height: 25vh;
    align-items: center;
    gap: 1.6rem;

    margin: 0 auto;
    padding: 2rem 0rem 2rem 0rem;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
        "footer-logo . phone"
        "footer-logo . email"
        ". made-with instagram";

    background: var(--FOOTER-COLOR);
}

.double-dip-container footer .phone,
.double-dip-container footer .instagram,
.double-dip-container footer .email{
    display: flex;
    align-items: center;
    color: var(--MEDIUM-TEXT);
    font-weight: 500;
    font-size: 1.4rem;
}

.double-dip-container footer .footer-logo,
.double-dip-container footer .phone,
.double-dip-container footer .email,
.double-dip-container footer .instagram,
.double-dip-container footer .made-with {
    justify-self: center;
}

.double-dip-container footer .email img ,
.double-dip-container footer .instagram img {
    margin-right: 2rem;
}

.double-dip-container footer .phone p {
    margin-left: 2.2rem;
}

.double-dip-container footer .phone {
    position: relative;
    right: 2rem;
}

.double-dip-container footer .email {
    position: relative;
    left: 1.0rem;
} 




























